.main-banner {
  height: 400px;
  width: 100%;
  background-color: #e8e8e8;
  h3 {
    margin: 0;
    padding: 7% 0 5% 0;
    text-align: center;
  }
}
.customer-comments {
  h4 {
    margin-top: 10%;
  }
}

// #rec-items {
//   background-color: #ECEFF1;
//   height: 100%;
//   padding: 6% 0 5% 0;
//   .card {
//     padding: 1% 2% 2% 2%;
//   }
//   .buy-btn {
//     padding: 0 1.5rem;
//   }
//   .card-content {
//     padding: 0;
//     width: 50%;
//     display: inline-block;
//     h5 {
//       margin: 0;
//     }
//   }
//
//   img {
//     max-width: 100%;
//     height: auto;
//   }
//   .card-top {
//     padding: 7% 5%;
//     h5, p, a {
//       margin-top: 8%;
//     }
//   }
//   .card-left {
//     .card-content {
//       padding: 1% 0 0 4%;
//     }
//     img {
//       max-width: 100%;
//       height: auto;
//     }
//   }
// }


.white-btn {
  color: #424242;
}
.btn-small {
  padding: 0 0.5rem;
  font-size: .8rem;
}
