.input-group {
  margin-top: 5%;
}
input-field {
  text-align: center !important;
}
.search-list-item {
  border-bottom: 1px solid silver;
  padding: 4% 4% 0 4%;
}
.search-list-item:hover {
  background-color: silver;
}

.search-list-item h6 {
  vertical-align: center !important;
  text-align: right;
}
